/* 
    Document   : style
    Created on : 2013-feb-12, 16:18:30
    Author     : Daniel Eliasson (joomla@stilero.com)
    Description:
        PCM MArine styles
*/
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #2d2d2d;
  background-color: #e6e6e6;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}
h1, h2, h3, h4, h5{
    color: #01447b;
}
.wrapper {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  margin-top: 15px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}

.navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #f0f0f0, #d0d0d0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#d0d0d0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #d0d0d0);
  background-image: -o-linear-gradient(top, #f0f0f0, #d0d0d0);
  background-image: linear-gradient(to bottom, #f0f0f0, #d0d0d0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0f0', endColorstr='#d0d0d0d0', GradientType=0);
  border: 1px solid #ececec;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow:inset -1px -1px 2px rgba(0, 0, 0, 0.065);
  -moz-box-shadow:inset -1px -1px 2px rgba(0, 0, 0, 0.065);
  box-shadow:inset -1px -1px 2px rgba(0, 0, 0, 0.065);
  *zoom: 1;
}
.navbar .brand {
  float: left;
  display: block;
  padding: 10px 10px 10px 20px;;
  margin-left: -20px;
  font-size: 15px;
  text-transform: uppercase;
  text-spacing: normal;
  color: #000;
  text-shadow: 0 1px 0 #ffffff;
}
.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #01447b;
  font-size: 12px;
  font-weight: 550;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #d0d0d0;
  border: 1px solid #b1b1b1;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid #01447b;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  border-top: 1px solid #b1b1b1;
  clear: both;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 20px;
  color: #01447b;
  white-space: nowrap;
}

#innerbottom{
    border-top: 1px solid #80a1bd;
    margin:10px 0 0 0;
}
.nav .dropdown-toggle .caret {
    display:none;
}

.items-leading{
    border-bottom: 1px solid #80a1bd;
    margin-bottom: 10px;
}